.chat-messages-container {
    flex-grow: 1;
    margin-top: 20px;

    overflow: scroll;
    scrollbar-width: none;
}

.welcome-message {
    text-align: center;
    margin-top: 0;
    color: rgb(120, 120, 120);
}